.page
  .featured-image
    width: 100%
    height: 200px
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    margin-bottom: 2em
  .entry-title
    font-size: 2em
  .entry-content
    font-size: 1.6em
    p
      margin-top: 1.25em
    p, ul
      font-size: 0.75em
