@import variables

.single-post, .blog
  a
    color: $dlYellow
    text-decoration: none
  header.navigation
    .brand
      float: left
      display: block
      &:hover
        text-decoration: none
      img
        width: 30%
        position: relative
    .blog
      float: left
      color: white
      font-family: misolight
      text-decoration: none
  @media screen and (min-width: 980px)
    header.navigation
      top: 2em
      padding: 1.5em
      padding-left: 2.5em
      .blog
        font-size: 4em
        line-height: 0.5em
      .brand img
        margin: 0 0 0 0.7em
        bottom: -0.5em
  @media screen and (max-width: 979px)
    header.navigation
      .blog
        font-size: 3em
        line-height: 0.75em
      .brand img
        margin-left: 0.3em

  #primary
    position: relative
    top: 10em
    .span9
      @media screen and (min-width: 768px)
        border-right: solid 2px $dlYellow
      margin-right: -2px
      padding-right: 2em
      +box-sizing(border-box)
  .featured-image
    width: 100%
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    margin-bottom: 3em

.single-post
  .navigation-post
    font-size: 3em
    height: 1em
    .nav-next
      float: right
    .nav-previous
      float: left
  .featured-image
    height: $blogSingleFeaturedImageHeight
  .post
    .entry-content
      font-size: 1.2em
      line-height: 1.5em
  aside.widget_recent_entries
    margin-top: 7em

.blog
  .post
    margin-bottom: 2em
    .featured-image
      display: block
      height: $blogArchiveFeaturedImageHeight
      margin-bottom: 1em
    .entry-header, .entry-header h4, .entry-content, .entry-content p
      display: inline
